<div id="myModal" class="modal">

    <!-- Modal content -->
    <div class="modal-content">
        <div class="modal-header">
            <span class="close" id="close-contacts">&times;</span>
            <h2>Modal Header</h2>
        </div>
        <div class="modal-body">
            <form style="margin: 10px 10px 0 10px;">
                <fieldset>
                    <label for="family_name">Full Name</label>
                    <input placeholder="Full Name" required id="family_name">
                </fieldset>
                <fieldset>
                    <label for="contact-email">Email</label>
                    <input placeholder="Email" required type="email" id="contact-email">
                </fieldset>
                <fieldset>
                    <label for="contact-message"> Message</label>
                    <textarea id="contact-message" required style="width: 100%;" placeholder="Message Here" ></textarea>
                </fieldset>
                <hr>
                <button class="send-mail"><i class="ion ion-ios-paperplane"></i></button>
            </form>
        </div>
        <div class="modal-footer">
            <h3></h3>
        </div>
    </div>

</div>


<!--
<div id="contact-modal" class="popup-modal mfp-hide">
    <div class="modal-dialog">

        <h1 class="modal-header">Drop us a line!</h1>
        <hr style="color: black;">
        <form style="margin: 10px 10px 0 10px;">
            <fieldset>
                <label for="family_name">Last Name</label>
                <input placeholder="Full Name" required id="family_name">
            </fieldset>
            <fieldset>
                <label for="contact-email">Email</label>
                <input placeholder="Email" required type="email" id="contact-email">
            </fieldset>
            <fieldset>
                <label for="contact-message"> Message</label>
                <textarea id="contact-message" required style="width: 100%;" placeholder="Message Here" ></textarea>
            </fieldset>
            <hr>
            <button class="send-mail"><i class="ion ion-ios-paperplane"></i></button>
        </form>
    </div>
    <a class="close-popup"></a>
</div>-->
