<section id="intro">

    <div class="shadow-overlay"></div>

    <div class="intro-content">
        <div class="row">

            <div class="col-twelve">
                <h1 class="text-left" style="color: white; margin-left: 0;">Nomad</h1>
                <h5 class="text-left" style="color: white;font-style: italic; text-transform: lowercase;">| 'nō,mad |</h5>

                <p style="text-transform: none; color: white"> member of a people that travels from place to place to find fresh
                    <del>pasture</del>
                    ideas for its
                    <del>animals</del>
                    tribe and has no permanent home.
                </p>

                <a class="button stroke smoothscroll" href="#process" title="">Learn More</a>

            </div>

        </div>
    </div>
</section> <!-- /intro -->

<!-- Process Section
================================================== -->
<section id="process">

    <div class="row section-intro">
        <div class="col-twelve with-bottom-line">

            <h5>Why?</h5>
            <h1>So I started this podcast...</h1>

            <p class="lead">
                My friends started calling me <span style="color: #f15d65">The Nomad</span> because I would travel all over Ghana from <strong>makerspace</strong> to <strong>makerspace</strong> just to talk to developers to gather ideas and
                perspectives. I figured the Tech Atmosphere in Ghana is greatly advancing. And at the heart of this advancement is the <span style="color: #0087cc">magical</span>, <span style="color:#ffaa00;">intimate revelations</span> of the <span
                    style="color: #048a7c">youth</span>. But this driving force is greatly sabotaged by <b>Self Doubt</b>, <b>Little Support</b>, <b>Fewer Known Mentors</b>, and the <b>Lack of an Active Tech Community</b>.
            </p>
            <p class="lead" style="color: #353F49;">
                <span style="color: #3F3F3F; font-weight: 700;">So I started this podcast</span> to provide
            </p>
        </div>
    </div>

    <div class="row process-content">

        <div class="left-side">

            <div class="item" data-item="1">

                <h5>Connectivity</h5>

                <p>Get developers in touch with projects around them and a means to connect with the developers building those projects.</p>

            </div>

            <div class="item" data-item="2">

                <h5>Advice</h5>

                <p>Get pro tips from experts, founders and executives in areas of interest as they share their journey.</p>

            </div>

        </div> <!-- /left-side -->

        <div class="right-side">

            <div class="item" data-item="3">

                <h5>A Chance</h5>

                <p>Use this as opportunity to learn about developer communities and how you can contribute to the technological melting pot.</p>

            </div>

            <div class="item" data-item="4">

                <h5>A Platform</h5>

                <p>Get involved, use this as a platform to showcase what you know, or what you have built. Get involved today!</p>

            </div>

        </div> <!-- /right-side -->

        <div class="image-part"></div>

    </div> <!-- /process-content -->

</section> <!-- /process-->


<!-- features Section
================================================== -->
<section id="features">

    <div class="row section-intro">
        <div class="col-twelve with-bottom-line">

            <h5>Nomad Gist</h5>
            <h1>Or Podcasts, if you may</h1>

            <p class="lead">Latest Episodes.</p>

        </div>
    </div>

    <div class="row features-content">

        <div class="features-list block block-mob-full block-tab-full group">

            {{>episodes}}

            <a class="button stroke" href="/podcasts" title="" style="color: white; border-color: white; margin-top: 20px;">More</a>
        </div> <!-- features-list -->

    </div> <!-- features-content -->



</section> <!-- /features -->


<!-- pricing
================================================== -->


<!-- Testimonials Section
================================================== -->
<section id="testimonials">

    <div class="row">
        <div class="col-twelve">
            <h2 class="h01">The Team.</h2>
        </div>
    </div>

    <div class="row flex-container">

        <div id="testimonial-slider" class="flexslider">

            <ul class="slides">

                <li>
                    <div class="testimonial-author">
                        <img src="/images/avatars/barnabasnomo.jpg" alt="Author image" style="object-fit: cover;">
                        <div class="author-info">
                            Barnabas Nomo
                            <span class="position">Founder, The Nomad.</span>
                        </div>
                    </div>

                    <p>
                        Hi, I am Barnabas, an Award Winning, Windows and Web developer from Koforidua, Ghana. I am passionate about development, interaction, and effecting change through STEM. I love to teach, and walk students through simple building blocks of algorithms. I also love to build lesson examples to help beginners understand certain programming languages and conventions.
                    </p>
                </li> <!-- /slide -->

                <li>

                    <div class="testimonial-author">
                        <img src="/images/avatars/joey.jpeg" alt="Author image" style="object-fit: cover; object-position: top;">
                        <div class="author-info">
                            Joshua Sakyi
                            <span>CEO, Ousu Svchi</span>
                        </div>
                    </div>

                    <p>
                        Hi, I'm Joshua Sakyi the Founder of Ousu Svchi, Ghana's leading serial photography company that prides itself with producing one of the best themed images of events and scenes. I love hosting short photography lessons and leading mentorship sessions for the Youth. When I'm not working in my company or teaching, you'll find me gathering pictures for my <a>#PeopleOfGhana</a> project.
                    </p>

                </li> <!-- /slide -->

            </ul> <!-- /slides -->

        </div> <!-- /testimonial-slider -->

    </div> <!-- /flex-container -->

</section> <!-- /testimonials -->


<!-- faq
================================================== -->
<section id="faq">

    <div class="row section-intro">
        <div class="col-twelve with-bottom-line">

            <h5>Call to Action</h5>
            <h1>Get Involved Today!</h1>

            <p class="lead">There are several ways to get involved. You can
                <a href="/nominate">nominate</a> someone to feature on the podcast, <a
                        href="#mc-form" class="smoothscroll"><span>subscribe</span></a> to be notified on all
                episodes, make suggestions, or donate.</p>

        </div>
    </div>

    <div class="row faq-content">

        <div class="q-and-a block-1-2 block-tab-full group">

            <div class="bgrid">

                <div class="action">
                    <a href="#" class="button round large" title="Donate" style="background-color: #ebca19;">
                        <i class="icon ion-cash" style="margin-right: 10px;"></i>Donate
                    </a>
                </div>


                <p>Scrape me codfish, ye golden sun! Comrades scream with passion at the swashbuckling cabo rojo!</p>


            </div>

            <div class="bgrid">

                <div class="action text-right">
                    <a class="button round large modal-toggle" title="Contact"
                       style="background-color: #0b0b0b;" id="myBtn">
                        <i class="icon ion-email-unread" style="margin-right: 10px;"></i>Contact
                    </a>
                </div>

                <p>Ask questions, report a problem, make a suggestion. Your feedback is golden!</p>


            </div>

        </div> <!-- /q-and-a -->
    </div> <!-- /faq-content -->



</section>
<!-- /faq -->



{{>contact_modal}}
