<section id="intro">

    <div class="shadow-overlay"></div>

    <div class="intro-content">
        <div class="row">

            <div class="col-twelve">


                <h1 class="text-left" style="color: white; margin-left: 0;"><span style="opacity: .3;">Nomad</span> Login</h1>
                {{#if message}}
                    <div class="alert error">
                        <input type="checkbox" id="alert1"/>
                        <label class="close ion ion-close" title="close" for="alert1">
                            <i class="icon-remove"></i>
                        </label>
                        <p class="inner">
                            {{message}}
                        </p>
                    </div>
                {{/if}}
                <form method="post" action="/login">
                    <fieldset class="col-six">
                        <h5 class="text-left" style="color: white; opacity: .3;">Email</h5>

                        <input type="email" required placeholder="email" style="padding: 0; height: 50px;" name="email" autofocus autocomplete="on">
                    </fieldset>
                    <fieldset class="col-six">
                        <h5 class="text-left" style="color: white; opacity: .3;">Password</h5>
                        <input type="password" required placeholder="password" style="padding: 0; height: 50px;" name="password">
                    </fieldset>
                    <div class="col-twelve">
                        <small style="color: white; font-size: .8em;">Don't have an account? <a href="/signup">Signup</a></small>
                    </div>
                    <button class="button stroke">Login</button>
                </form>

            </div>

        </div>
    </div>

    <!-- Modal Popup
    ========================================================= -->

</section> <!-- /intro -->
