<section id="intro-podcasts" style="background-image: url(/images/460.jpg);">
    <div class="shadow-overlay"></div>
    <div class="intro-content">
        <div class="row">
            <div class="col-twelve">
                <h1 style="color: white;">Nominate</h1>
            </div>

        </div>
    </div>
</section>


<section id="process">

    <div class="row section-intro">
        <div class="col-twelve with-bottom-line">
            <p class="lead" style="margin-bottom: 0;">
                Hello there {{#if user}}{{user.given_name}}{{else}}friend{{/if}}, thank you for offering to keep my work thriving by nominating someone to be featured on this podcast. Before you move on to the form, please let's take note of a few
            </p>
            <p class="lead" style="color: #353F49; margin-top: 10px;">
                Rules For <span style="color: #3F3F3F; font-weight: 700;"> Nomination</span>
            </p>
        </div>
    </div>

    <div class="row process-content">

        <div class="left-side">

            <div class="item" data-item="1">

                <h5>Self Love</h5>

                <p>You can nominate yourself</p>

            </div>

            <div class="item" data-item="2">

                <h5>Approval</h5>

                <p>Submitting a nomination does not guarantee an automatic approval.</p>

            </div>

        </div> <!-- /left-side -->

        <div class="right-side">

            <div class="item" data-item="3">

                <h5>Rule 3</h5>

                <p>Aww, fire me hornpipe, ye scrawny comrade! The whale ransacks with life, sail the brig until it laughs.</p>

            </div>

            <div class="item" data-item="4">

                <h5>A Platform</h5>

                <p>The vogon is cunningly evil. History at the center was the life of faith, opened to a remarkable klingon!</p>

            </div>

        </div> <!-- /right-side -->

        <div class="image-part" style="background-image: url(/images/justice.png); background-position: top;"></div>

    </div> <!-- /process-content -->

</section> <!-- /process-->