<section id="intro-podcasts">
    <div class="shadow-overlay"></div>
    <div class="intro-content">
        <div class="row">
            <div class="col-twelve">
                <h1 style="color: white;">Podcasts</h1>
            </div>

        </div>
    </div>
</section>

<!-- Process Section
================================================== -->
<section id="process">

    <div class="row section-intro">
        <div class="col-twelve with-bottom-line">

            <h5>Nomad Gists</h5>
            <h1>All Episodes...</h1>
        </div>
    </div>

    <div class="row process-content">
        <div id="all-episodes" class="block-1-2 block-mob-full block-s-full block-tab-full">

            {{>episodes}}

        </div> <!-- /process-content -->
    </div>
</section> <!-- /process-->
