<section id="intro-podcasts">
    <div class="shadow-overlay"></div>
    <div class="intro-content">
        <div class="row">
            <div class="col-twelve">
                <h1 style="color: white;">Podcasts</h1>
            </div>

        </div>
    </div>
</section>

<!-- features Section
================================================== -->
<section id="all-episodes">

    <div class="row section-intro">
        <div class="col-twelve with-bottom-line">

            <h5>Nomad Gist</h5>
            <h1>Podcasts</h1>

            <p class="lead">Latest Episodes.</p>

        </div>
    </div>

    <div class="row features-content" style="overflow: scroll;">

        <div class="features-list block block-mob-full block-tab-full group">

            {{>episodes}}
            {{>episodes}}
        </div> <!-- features-list -->

    </div> <!-- features-content -->

</section> <!-- /features -->
