<section id="intro">

    <div class="shadow-overlay"></div>

    <div class="intro-content">
        <div class="row">

            <div class="col-twelve">



                <h1 class="text-left" style="color: white; margin-left: 0;"><span style="opacity: .3;">Nomad</span> Signup</h1>
                <form method="post" action="/signup">
                    <fieldset class="col-six">
                    <h5 class="text-left" style="color: white; opacity: .3;">First Name</h5>
                    <input required placeholder="First Name" type="text" style="padding: 0; height: 50px;" name="given_name">
                    </fieldset>
                    <fieldset class="col-six">
                    <h5 class="text-left" style="color: white; opacity: .3;">Last Name</h5>
                    <input required placeholder="Last Name" type="text" style="padding: 0; height: 50px;" name="family_name">
                    </fieldset>
                    <fieldset class="col-six">
                    <h5 class="text-left" style="color: white; opacity: .3;">Email</h5>
                    <input type="email" required placeholder="email" style="padding: 0; height: 50px;" name="email">
                    </fieldset>
                    <fieldset class="col-six">
                    <h5 class="text-left" style="color: white; opacity: .3;">Password</h5>
                    <input type="password" required placeholder="password" style="padding: 0; height: 50px;" name="password">
                    </fieldset>
                    <button class="button stroke">Signup</button>
                </form>

            </div>

        </div>
    </div>

    <!-- Modal Popup
    ========================================================= -->

</section> <!-- /intro -->
